@import 'variables.scss';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px/1 'Open Sans', sans-serif;
  //font-family: Arial, Helvetica, sans-serif;
  background-color: $gray-light;
  min-width: 300px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.container {
  padding: 0 5%;
}

#app {
    display: block;
    height: 100%;
}