@import '../variables.scss';

.footer {
  background: $gray;
  color: $gray-light;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media  (max-width: 600px) {
  .footer {
    position: relative;
  }
}