@import '../variables.scss';

@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

.filters {
  min-width: 350px;
  max-width: 800px;
  padding: 50px;
  margin: 50px auto;
  background: $white;
  color: $gray-dark;

  .context {
    display: block;
    overflow: hidden;
  }

  .checkbox label {
     margin-bottom: 20px;
     width: 120px;
  }

  .result {
    text-align: center;
  }

  .filter-body {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}